<html>
<div id="first">
    <h1>Welcome to DECODER</h1> <br> <br>
    You are _ <br> <br>
    <button class="btnt" onclick="document.location='/teacher'">Teacher</button> <br> <br>
    or <br> <br>
    <button class="btns" onclick="document.location='/student'">Student</button>
</div> <br>
<footer>By DECODER</footer>
</html>

<style>
    #first {
        text-align: center;
        margin: 40px 0px 0px;
        padding: 10px 0px 24px;
    }

    .btnt {
        cursor: pointer;
        color: white;
        background-color: #dd1919;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        padding: 0 16px;
        width: 332px;
    }

    .btns {
        cursor: pointer;
        color: white;
        background-color: #289228;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        padding: 0 16px;
        width: 332px;
    }
    footer {
        text-align: center;
        font-size: 12px;
        width: 100%;
        margin-bottom: 0rem;
    }
</style>