<html>

<div id="login">
    <h1>Welcome to DECODER</h1> <br> <br>
    <h4>If you have an account then login</h4>
    <button class="btnlog" onclick="document.location='/login'">Log In</button> <br> <br> <br>
    <h4>If you are new here then signup</h4>
    <button class="btnsign" onclick="document.location='signup'">Sign Up</button>
</div> <br>
<footer>By DECODER</footer>

</html>

<style>
    h1 {
        text-align: center;
    }

    #login {
        text-align: center;
        margin: 40px 0px 0px;
        padding: 10px 0px 24px;
    }

    .btnlog {
        cursor: pointer;
        color: white;
        background-color: #1877f2;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        padding: 0 16px;
        width: 332px;
    }

    .btnsign {
        cursor: pointer;
        color: white;
        background-color: #42b72a;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        padding: 0 16px;
        width: 332px;
    }

    footer {
        text-align: center;
        font-size: 12px;
        width: 100%;
        margin-bottom: 0rem;
    }
</style>