<html>
    
<div id="all">
    <h1>this is teacher page</h1>
    <h2>Upload Courses</h2>
    <li>C</li>
    <li>C#</li>
    <li>C++</li>
</div>
</html>

<style>
    #all {
        text-align: center;
        margin: 40px 0px 0px;
        padding: 10px 0px 24px;
    }
</style>