<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DECODER</title>
    <link rel="stylesheet" href="fonts/font-awesome.css">
    <link rel="stylesheet" href="fonts/google-fonts.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
</head>
<body>
<!-- header section starts  -->
<header id="header">
<!-- 
<nav>
  <ul>
    <li><a href="#home">home</a></li>
    <li><a href="#course">courses</a></li>
    <li><a href="#service">services</a></li>
    <li><a href="#testimonial">testimonials</a></li>
    <li><a href="#contact">contact</a></li>
  </ul>
</nav> -->
<!-- <div class="fas fa-bars"></div> -->
</header>
<!-- header section ends -->
<!-- home section starts  -->
<div style="background-image:url('images/6.jpg');" >
<section id="home" class="container-fluid">
<div class="row align-items-center min-vh-100 content">
<div class="col-md-8 ml-md-5 text-center text-md-left">
  <h1>DECODER</h1>
  <h3>learn online from anywhere :)</h3>
<a href="#course"><button> enroll now >></button></a>  
  <!-- <div class="icons">
    <a href="#" class="fab fa-facebook-f"></a>
    <a href="#" class="fab fa-twitter"></a>
    <a href="#" class="fab fa-instagram"></a>
    <a href="#" class="fab fa-linkedin"></a>
  </div> -->
</div>
</div>
</section>
</div>
<!-- home section ends -->
<!-- course section starts  -->
<section id="course">
<h1 class="heading">our courses</h1>
<div class="box-container">
  <div class="box" data-aos="flip-right">
    <img src="images/1.jpg" alt="">
    <p>Complete Data Science Training: Mathematics, Statistics, Python, Advanced Statistics in Python, Machine & Deep Learning</p>
  </div>
  <div class="box" data-aos="flip-down">
    <img src="images/2.jpg" alt="">
    <p>As a jack of all trades (and master of quite a few), a full-stack engineer can get a project done from start to finish. In this Career Path, you’ll begin with the front-end, move on to the back-end, then learn to connect the two. By the time you’re done, you’ll have the well-rounded skills needed to enter this in-demand job market.</p>
  </div>
  <div class="box" data-aos="flip-left">
    <img src="images/3.jpg" alt="">
    <p>In this course, you'll learn the fundamentals of the Python programming language, along with programming best practices. You’ll learn to represent and store data using Python data types and variables, and use conditionals and loops to control the flow of your programs.</p>
  </div>
  <div class="box" data-aos="flip-right">
    <img src="images/4.jpg" alt="">
    <p>In this course, you will learn the foundations of Deep Learning, understand how to build neural networks, and learn how to lead successful machine learning.</p>
  </div>
  <div class="box" data-aos="flip-up">
    <img src="images/5.jpg" alt="">
    <p>Choose from hundreds of free Mental Health and Psychology courses. Investigate the human mind and delve in to areas like forensic psychology, child​ health, mental health.</p>
  </div>
  <div class="box" data-aos="flip-right">
    <img src="images/7.jpg" alt="">
    <p>From Poverty to Prosperity: Understanding Economic Development ... and in this economics course you will have the opportunity to learn from him directly.</p>
  </div>
</div>
</section>
<!-- course section ends -->
<!-- service section starts  -->
<section id="service">
<h1 class="heading">we have</h1>
<div class="box-container">
  <div class="box" data-aos="flip-up">
    <img src="images/service1.svg" alt="">
    <div class="info">
      <h2>many courses</h2>
      <p>Communication Skills. Most of your communication probably happens online.
        Compassion And Empathy. Online students can often find it easier to open up about their learning obstacles in a virtual environment
        Patience
        Subject Expertise
        Time Management</p>
    </div>
  </div>
  <div class="box" data-aos="flip-down">
    <img src="images/service2.svg" alt="">
    <div class="info">
      <h2>assistance</h2>
      <p>24x7 help from experienced online subject tutors and skilled instructors. Within 24 hours, our instructors can offer valuable feedback on any course online tutoring and writing review service designed to help you succeed in your career</p>
    </div>
  </div>
  <div class="box" data-aos="flip-up">
    <img src="images/service3.svg" alt="">
    <div class="info">
      <h2>certificate</h2>
      <p>You will earn a certificate after every course complecation which will enforce you confidence.</p>
    </div>
  </div>
</div>
</section>
<!-- service section ends -->
<!-- testimonials section starts  -->
<section id="testimonial">
<h1 class="heading">what students say</h1>
<div class="box-container">
<div class="box" data-aos="flip-left">
  <img src="images/pic1.png" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>DECODER, is one of the best way to learn online. It is efficient. Many of the courses can be downloaded also and that helps a lot when travelling. The instructors speak clearly too and they make a lot of sense.<i class="fas fa-quote-right"></i></p>
    <h2>--Anusha Banerjee</h2>
  </div>
</div>
<div class="box" data-aos="flip-right">
  <img src="images/pic2.png" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>Being in a dominant market and the other learning platforms are not as good for the time. They will put into absorbing the information Also influence on the way. I am determined to help people with the right education of the product and the delivery of network services is a great opportunity!!<i class="fas fa-quote-right"></i></p>
    <h2>--Rounok Agarwal</h2>
  </div>
</div>
<div class="box" data-aos="flip-left">
  <img src="images/pic3.png" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>I LOVE DECODER. I've taken dozens of courses and learned so much. And, it's free unless you want to earn a certificate. My favorite course was: "Hacking Exercise For Health. The surprising new science of fitness". Another good one is: "A Life of Happiness and Fulfillment". I also enjoyed De-Mystifying Mindfulness. There are so many courses to take in so many areas. Check it out.<i class="fas fa-quote-right"></i></p>
    <h2>--Salman Shah</h2>
  </div>
</div>
<div class="box" data-aos="flip-right">
  <img src="images/pic4.png" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>User friendly platform. If there is technical difficulty the support personnel are very helpful in resolving the problem. A wide variety of Interesting courses that can lead to other jobs or for personal development<i class="fas fa-quote-right"></i></p>
    <h2>--Aditi Chawhan</h2>
  </div>
</div>
</div>
</section>
<!-- testimonials section ends -->
<!-- contact section starts  -->
<section id="contact" class="container-fluid">
<h1 class="heading">get in touch</h1>
<div class="row min-vh-75 align-items-center min-vw-100">
<div class="col-lg-5 col-md-8  mx-auto">
 <form action="" data-aos="zoom-in">
<div class="inputBox">
    <input type="text" required>
      <h3>full name</h3>
  </div>
  <div class="inputBox">
    <input type="email" required>
      <h3>e-mail</h3>
  </div>
  <div class="inputBox">
    <input type="number" required>    
      <h3>phone number</h3>
  </div>
  <div class="inputBox">
    <textarea name="" id="" cols="30" rows="10" required></textarea>
    <h3>any query</h3>
  </div>
  <div class="inputBox">
    <input type="submit">
  </div>
</form>
</div>
</div>
</section>
<!-- contact section ends -->
<!-- footer section starts  -->
<section id="footer">
<h1>&copy; copyright @ 2021 by <span>DECODER</span></h1>
</section>
<!-- footer section ends -->
<!-- script part start  -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      delay:500
    });
</script>
</body> 
</html>